<footer class="footer">
    <div class="container-fluid">
        <div class="row footer-top text-center">
            <div class="col-xs-12 col-sm-4 col-md-4 text-left">
                <p>&copy; @DateTime.Now.Year – TWINTEL</p>
            </div>
        </div>
    </div>
</footer>
