<?xml version="1.0" encoding="utf-8"?>
<!--
Этот файл используется процессом публикации или упаковки вашего веб-проекта. Можно настроить поведение этого процесса,
изменив этот файл MSBuild. Подробности см. на странице https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/b43c21f7-f2bb-45d2-9fde-0df554e89937/resourceGroups/BillingAdmin20210618175815ResourceGroup/providers/Microsoft.Web/sites/BillingAdmin20210618175815</ResourceId>
    <ResourceGroup>BillingAdmin20210618175815ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://billingadmin20210618175815.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>billingadmin20210618175815.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>BillingAdmin20210618175815</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$BillingAdmin20210618175815</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=u436263.mssql.masterhost.ru;Initial Catalog=u436263_100tztest2;Persist Security Info=True;User ID=u436263_test;Password=pr7pitting;Application Name=EntityFramework" Name="Data Source=u436263.mssql.masterhost.ru;Initial Catalog=u436263_100tztest2;Persist Security Info=True;User ID=u436263_test;Password=pr7pitting;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="BillingAdmin.Models.ApplicationDbContext, BillingAdmin" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Entities" Order="2" Enabled="False">
          <Destination Path="Data Source=u436263.mssql.masterhost.ru;Initial Catalog=u436263_100tztest2;Persist Security Info=True;User ID=u436263_test;Password=pr7pitting;Application Name=EntityFramework" Name="Data Source=u436263.mssql.masterhost.ru;Initial Catalog=u436263_100tztest2;Persist Security Info=True;User ID=u436263_test;Password=pr7pitting;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="BillingAdmin.Models.Entities, BillingAdmin" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="Entities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.ModelDB.csdl|res://*/Models.ModelDB.ssdl|res://*/Models.ModelDB.msl;provider=System.Data.SqlClient;provider connection string="Data Source=u436263.mssql.masterhost.ru;Initial Catalog=u436263_100tztest2;Persist Security Info=True;User ID=u436263_test;Password=pr7pitting;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=u436263.mssql.masterhost.ru;Initial Catalog=u436263_100tztest2;Persist Security Info=True;User ID=u436263_test;Password=pr7pitting;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>